# Console log
snippet log
	console.log($0);
# Debugger
snippet debug
	debugger // eslint-disable-line
# Header
snippet header
	/**
	 * Copyright 2015 Nicholas Hwang
	 * MIT Licensed
	 *
	 * @module $0
	 */
# Export default
snippet export
	export default {
	};
# Commented Section
snippet section
	//------------------------------------------------------------------------------
	// $1
	//------------------------------------------------------------------------------
	$0
