# React boilerplate
snippet base
	'use es6';
	import React, {PropTypes} from 'react';

	export default React.createClass({

		${1:propTypes: {${2}\}\,}

		render() {
			return (
				${0}
			);
		}

	});
# Call Me Maybe
snippet cm
	_callme(); // eslint-disable-line
